body {
  position: relative;
}

footer {
  width: 100%;
  height: 125px;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  list-style-type: none;
}

.img-doranco {
  height: auto !important;
  width: 150px;
}

li {
}

a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-right: 50px;
  text-decoration: none;
  color: white;
}
